body {
    font-family: sans-serif;
    text-align: center;
    background-color: #97c497;
}

.botoesInicio {
    font-family: sans-serif;
    border: none;

    background-color: lightgray;
    font-size: 25px;
}

#btnComecar {
    margin-top: 300px;
}

#btnRecomecar {
    display: none;
    margin-left: 50%;
}

.containerCartas {
    text-align: center;
    margin-top: 80px;
}

.containerOpcoes {
    text-align: center;
}

#containerGeral {
    display: none;
}

#btnRecomecar {
    display: none;
}

